extends layout

block content
  page
    opt
      name= "Audio Log"
      span
        a= "View"
        a= "Download"
    opt
      name= "Survey Log"
      span
        a= "View"
        a= "Download"
